main {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}
.post-wrapper-div {
  flex-grow: 1;
}
.logo-show {
  display: none;
}
.post-header h2 {
  font-size: 2rem;
  font-weight: 400;
}
.post-header {
  cursor: pointer;
  display: flex;
  width: 80%;
  margin: 2rem 0;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 1px 2px 2px 2px var(--color-box-shadow-2),
    -1px -2px 2px 2px var(--color-box-shadow-2);
  border-radius: 4px;
}
.button-header-post {
  font-size: 1.6rem;
  padding: 5px 2rem;
  border-radius: 2.4rem;
  cursor: pointer;
}
.filter-wrapper {
  width: 80%;
  color: var(--color-icon);
  margin: 2rem 0;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 5px 2rem;
  box-shadow: 1px 1px 10px 0px var(--color-box-shadow-2),
    -1px -1px 10px 0px var(--color-box-shadow-2);
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  main {
    width: 100%;
  }
  .logo-show {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}
