@import url(./utility.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary-first: black;
  --color-primary-second: #0096FF;
  --color-background-primary: white;
  --color-icon: rgb(44, 53, 57);
  --color-background-secondary: #222230;
  --color-box-shadow: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
